<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CoHost - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">

    <link rel="stylesheet" href="/assets/css/aos.css">

    <link rel="stylesheet" href="/assets/css/ionicons.min.css">

    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/icomoon.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <h1 class="navbar-brand" >Video calling application</h1>
	      
	    
	    </div>
	  </nav>
    <div class="hero-wrap js-fullheight">
        <div class=" container-fluid">
            <div class="row justify-content-end align-items-center" style="height:100vh">
                <div class=" text-center col-lg-6 col-md-6 col-sm-12">
               <h1 class=" text-center font-weight-bolder">Welcome to n-video conferencing application.Click submit to start a meeting.</h1>
               
                <form method="get" action="/room" > 
                    
                    <input class=" m-5 btn btn-primary px-4 py-3" type="submit" id="sub">
                </form> 
          
               </div>
               
                
            <div class="js-fullheight col-lg-6 col-md-6 col-sm-12  ">
                <img class=" one-third js-fullheight align-self-end order-md-last img-fluid" src="/assets/images/undraw_pair_programming_njlp.svg" alt=""/>
            </div>
        </div>
        </div>
        </div>


</body>
 