body{
    margin: 0;
    padding: 0;
    
}

#video-panel{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    /* overflow: auto; */
    grid-gap: 25px;
}

video{
    height:300px;
    width:400px;
    object-fit: cover;

}

.master{
    height:100vh;
    display:flex;
}

.master-left{ 
    flex:1 !important; 
    display:flex;
    flex-direction: column;
}

.master-right{
    flex:0.2;
   
}

.master-videos{
    flex-grow: 1;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

}

.controllingicons{
    display:flex;
    background-color:#161d29 ;
    color:#D2D2D2;
    padding:5px;
    justify-content: space-between;
    align-items: center;
}

.block{
    display:flex;
}


.block i{
    font-size: 26px;
}
.icon{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 90px;
    cursor: pointer;
}
.icon:hover{
    background-color:#343434 ;
    border-radius: 5px;
}
.recording-options:hover{
    background-color: black;
    border-radius: 6px;
    /* height: 64px;
    width: 77px; */
}

/* .leave{
  color:red;  
} */

.master-right{
    display: flex;
    flex-direction: column;
    background-color: #1d2635;
    border-left: 1px solid #3D3D42;

}
.master-head{
    border: 5px solid black;
    color:#F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 8px;
}
.master-chat{
    flex-grow:1;
    overflow-y: auto;
}
.message-area{
    padding:23px 13px;
    display:flex;

}
.message-area input{
    flex-grow:1;
    background-color: transparent;
    border:none;
    outline: none;
    color: black;
    background: slategray;
    border-radius: 20px;
    padding-left: 8px;
}
.messages{
    color:white;
    list-style: none;
    padding: 8px;
}
.unmute{
    color:red;
}
.stop{
    color:red;
}
/* .vcolor{ 
    background-color: #6a5acd;
}
.mcolor{
    background-color: #f6484a;
} */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.me {
    height: 15%;
    width: 100%;
    padding: 6px;
}

.user {
    height: 13%;
    width: 100%;
    border: 1px solid white;
    padding: 3px;
    justify-content: space-between;
}

.user-img {
    height: 100%;
    width: 23%;
    /* background: red; */
    border-radius: 46%;
    /* opacity: 0.5; */
    /* z-index: 5; */
    display: flex;
    align-items: center;
}

.me .user {
    height: 100%;
    background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.me .user-name {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}


.user-img img {
    height: 100%;
    width: 100%;
    background: lightblue;
    border-radius: 50%;
}

.user-name {
    width: 73%;
    height: 100%;
    border-radius: 10px;
    padding: 4px;
}

.online-list {
    width: 100%;
    height: 85%;
    padding: 4px;
}

.left-side {
    width: 23%;
    background: #f1f2f6;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    background: #403B4A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #203A43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF,lightgrey, lightgrey); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.recording-options {
    width: 60px;
    height: 54px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.inner {
    width: 50%;
    height: 65%;
    border: 3px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: white; */
}

.record-animation {
    animation: scaleupdown 2s infinite;
}


.record-video-control {
    background: red;
}


@keyframes scaleupdown {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
.innest {
    height: 64%;
    width: 67%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.letsleave{
    background: red;
    opacity: 0.8;
    border-radius: 6px;
}
.letsleave:hover{
    background: red !important;
    opacity: 1;
    border-radius: 6px;
}
.hide{
    display: none;
}
.icon2{
    padding-left: 0px;
    padding-top: 3px;
}
.roomlink{
    width: 10px;
    outline: none;
    border: none;
    height: 10px;
    background: #161d29;
    color: #161d29;
    /* width:1px;
    outline:none;
    border:none;
    height:1px; */

}
.myicon{
    padding-left: 0px;
    margin: 0px;
    padding-top: 4px;
}
li.message {
    margin-right: 16px;
    background: lightslategrey;
    margin-bottom: 9px;
    word-break: break-all;
    border-radius: 30px;
    padding-left: 25px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }